.lead__image {
    width: 100%;
    margin: 0;
}

@media screen and (max-width: 1024) {
    .lead__image {
        max-width: 928px;
        min-height: 580px;
    }
}

@media screen and (max-width: 768px) {
    .lead__iamge {
        max-width: 768px;
    }
}

@media screen and (max-width: 320px) {
    .lead__image {
        max-width: 320px;
    }
}