.cover {
    max-width: 1184px;
    text-align: center;
    margin: 92px auto 94px;
    padding: 0;
}

@media screen and (max-width: 1024px){
    .cover {
        max-width: 1024px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        max-width: 768px;
        margin: 90px auto 88px;
    }
}

@media screen and (max-width: 480px) {
    .cover {
        margin: 66px auto 64px;
        max-width: 100%;
    }
}